Repository carsonSgit/minecraft-botpress: changes, and which lefthook commands are due for each by the changed paths.
All: biome, spotless

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    spotless:
      glob: "*.java"
      run: ./gradlew spotlessCheck

chore: rewrite CI workflow with full pipeline
  .github/workflows/build.yml
  .gitignore
Due: none

fix: make gradlew executable in CI workflow
  .github/workflows/build.yml
Due: none

fix: set executable bit on gradlew
  gradlew
Due: none

chore(bridge-server): remove unused @botpress/chat dependency
  README.md
  bridge-server/bun.lock
  bridge-server/package.json
Due: biome

Add bounded session and rate-limit memory cleanup
  bridge-server/.env.example
  bridge-server/package.json
  bridge-server/src/botpress-service.ts
  bridge-server/src/eviction.test.ts
  bridge-server/src/index.ts
  bridge-server/src/rate-limiter.ts
Due: biome

Optimize memory cleanup paths and harden eviction test hooks
  bridge-server/src/botpress-service.ts
  bridge-server/src/eviction.test.ts
  bridge-server/src/rate-limiter.ts
Due: biome

Harden zai conversation extraction and trim module bloat
  minebot-agent/src/conversations/context.ts
  minebot-agent/src/conversations/index.ts
  minebot-agent/src/conversations/logging.ts
  minebot-agent/src/conversations/prompt.ts
  minebot-agent/src/conversations/schema.ts
Due: biome

Revert "Harden MineBot zai extraction and trim conversation modules"
  minebot-agent/src/conversations/context.ts
  minebot-agent/src/conversations/index.ts
  minebot-agent/src/conversations/logging.ts
  minebot-agent/src/conversations/prompt.ts
  minebot-agent/src/conversations/schema.ts
Due: biome

Synchronize command whitelist via shared manifest
  .github/workflows/build.yml
  README.md
  bridge-server/src/generated/command-whitelist.ts
  bridge-server/src/whitelist.ts
  build.gradle
  scripts/generate-command-artifacts.mjs
  shared/command-whitelist.json
  src/client/java/com/botpress/command/CommandExecutor.java
  src/client/java/com/botpress/command/GeneratedCommandWhitelist.java
Due: biome, spotless

Fix CI by setting up Node for artifact sync check
  .github/workflows/build.yml
Due: none

Fix generator path resolution for Windows/file URLs
  scripts/generate-command-artifacts.mjs
Due: none

Harden command sequence validation and strict mode
  build.gradle
  src/client/java/com/botpress/command/CommandExecutor.java
  src/client/java/com/botpress/network/HttpBridge.java
  src/main/java/com/botpress/command/CommandValidation.java
  src/test/java/com/botpress/command/CommandValidationTest.java
Due: spotless

Preserve worldedit strictMode through response schema
  bridge-server/src/types.ts
Due: biome

Fix spotless formatting in command validation classes
  src/client/java/com/botpress/command/CommandExecutor.java
  src/main/java/com/botpress/command/CommandValidation.java
Due: spotless

Add JUnit platform launcher to test runtime
  build.gradle
Due: none

Use generated whitelist in command validation
  src/main/java/com/botpress/command/CommandValidation.java
  src/test/java/com/botpress/command/CommandValidationTest.java
Due: spotless

Move generated whitelist to main source set
  build.gradle
  scripts/generate-command-artifacts.mjs
  src/main/java/com/botpress/command/GeneratedCommandWhitelist.java
Due: spotless

Normalize slash-prefixed commands in validation
  src/main/java/com/botpress/command/CommandValidation.java
  src/test/java/com/botpress/command/CommandValidationTest.java
Due: spotless

Add optional worldedit strictMode extraction support
  minebot-agent/src/conversations/index.ts
  minebot-agent/src/conversations/prompt.ts
  minebot-agent/src/conversations/schema.ts
Due: biome

Resolve staging/main conflict in conversation worldedit mapping
  minebot-agent/src/conversations/index.ts
Due: biome

fix: reconcile conversation response typing for rebase merge
  minebot-agent/src/conversations/index.ts
  minebot-agent/src/conversations/logging.ts
  minebot-agent/src/conversations/schema.ts
Due: biome

Add optional worldedit strictMode extraction support
  minebot-agent/src/conversations/index.ts
Due: biome

Fix Gradle BOM parse failure and add encoding guardrails
  .editorconfig
  .gitattributes
  .github/workflows/build.yml
  build.gradle
Due: none

Fix spotless Java formatting violations
  src/client/java/com/botpress/command/CommandExecutor.java
  src/test/java/com/botpress/command/CommandValidationTest.java
Due: spotless

Exclude generated whitelist from Spotless Java checks
  build.gradle
Due: none

Move generated whitelist Java to build sources and fix sourcesJar wiring
  build.gradle
  scripts/generate-command-artifacts.mjs
  src/main/java/com/botpress/command/GeneratedCommandWhitelist.java
Due: spotless
